body{
    background: #B0C4DE;
}
.main{
    background: whitesmoke;
    margin: 40px;
}
.btn-publish{
    float: right;
    margin-bottom: 10px;
}
.navbar-right{
    margin: 5px;
}
/*
.media-object{
     width: 38px;
     height: 38px;
 }*/

.img-rounded{
    height: 40px;
    width: 40px;
}
.text-decr{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}
.profile .section{
    margin-top: 15px;
}
.cmt-menu{
    font-size: 13px;
    color: #999999;
}